th {
    padding: 12px;
    text-align: left;
    background-color: #265446;
    color: #fff;
    border: 3px solid #555;
}

/* Собственные стили для <td> */
td {
    padding: 10px; /* Изменяем отступы */
    text-align: center; /* Изменяем выравнивание текста */
    vertical-align: top; /* Изменяем вертикальное выравнивание */
    border: 2px solid #265446; /* Изменяем границы */
}